
$maincolor:linear-gradient(to right,#800e13 ,#38040e);
$mainBlack:#000000;
$hoverColor: #2ec4b6;
$font-family:arial;
$mainfont-family:'Sulphur Point', sans-serif;
$TextShadowColor: black;
$TextColor: white;
$cardbtn: #5e6472;
$TextBlack: #000000;

